/* Make admin page body match our custom design */
body.toplevel_page_forms-entries-manager #screen-meta,
body.toplevel_page_forms-entries-manager #wpfooter,
body.forms-entries_page_form-entries-settings .notice,
body.forms-entries_page_form-entries-migration .notice,
body.toplevel_page_forms-entries-manager .notice:not(.notice-error.aem-notice) {
    display: none;
}

body.toplevel_page_forms-entries-manager,
body.forms-entries_page_form-entries-settings,
body.forms-entries_page_form-entries-migration  {
	background: #DDD !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.fem-admin-page {
	background: #DDD;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 100vh;
	padding: 2rem;
	font-family: 'Inter', system-ui, sans-serif;
	color: #1f2937; /* text-gray-800 */
}

/* Optional: Remove WP’s default max width */
.fem-admin-page .wrap {
	max-width: 100% !important;
	padding: 0;
}

[x-cloak] {
    display: none !important;
}

@media (max-width: 639px) {
  .hide-on-mobile {
    display: none !important;
  }
}
@media (min-width: 640px) {
  .hide-on-mobile {
    display: block !important;
  }
}
